
body{

   font-family: sans-serif;

  background-color: ;
  }
#weather-dash{
    text-align: center;
   background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 100%);
}
#search-container{
    width: 200px;
    border-bottom: 2px solid black;
}
#search-container > *{
 text-align: center;   
}
textarea{
  width: 200px;
  border-radius: 7.5px;
}
#searchbtn, textarea{
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#searchbtn{
  background-color: #add8e6;
  border-radius: 12px;
  color: gray;
  width: 200px;
}
#searchbtn:hover{
  color: black;
}

.city{
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    width: 185px;
    padding: 5px;
    position: relative;

    background-color: #c0c0c0;
}
#forecast-container{
display: inline-block;
justify-content: center;
position: absolute;
top: 20%;
left: 30%;
border: 2px solid black;
align-items: center;
padding: 20px;
width: 500px;
height: 200px
}
#five-day{
   
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    transform: translateX(50px);
}
.day{
    text-align: center;
    border: 2px solid black;
    margin: auto;
    margin-bottom: 60px;
    padding: 20px;
    }
 #five-forecast{
   position: relative;
   left: 25%;
 transform: translateY(-90%);
 }
#five-day{
    margin-top: 300px;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;

}
.day{
    text-align: center;
}
